<!DOCTYPE html>
<html lang="de"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="navbar">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header visible-xs">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><h2>Meat King</h2></a>
            </div><!-- navbar-header -->
            <div id="navbar" class="navbar-collapse collapse">
                <div class="hidden-xs" id="logo"><a href="#header">
                    <img src="img/Sumi/Sumi-logo.png" alt="">
                </a></div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#story">Über uns</a></li>
                    <li><a href="#reservation">Speisekarte</a></li>
                    <li><a href="#chefs">Our Chefs</a></li>


                    <li><a href="#facts">Facts</a></li>
                    <li><a href="#food-menu">Food Menu</a></li>
                    <li><a data-toggle="modal" data-target="#rateModal" style="cursor: pointer">Bewerten Sie uns</a></li>

                    <!--fix for scroll spy active menu element-->
                    <li style="display:none;"><a href="#header"></a></li>

                </ul>
            </div><!--/.navbar-collapse -->
        </div><!-- container -->
    </div><!-- menu -->

    <!-- RateModal -->
    <div class="modal fade" id="rateModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Bewerten Sie uns</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <!-- Rating Stars Box -->
                    <div class='rating-stars text-center'>
                        <ul id='stars'>
                            <li class='star' title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class='star' title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="lang">Name:</label>
                            <input class="form-control" type="text" name="rate_name" id="rate_name" placeholder="Name"/>
                        </div>
                        <div class="form-group">
                            <label class="lang">Titel:</label>
                            <input class="form-control" type="text" name="rate_title" id="rate_title" placeholder="Title"/>
                        </div>
                        <div class="form-group">
                            <label class="lang">Beschreibung:</label>
                            <td><textarea class="form-control" rows="10" id="rate_message"></textarea></td>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal" onclick="">Bewerten</button>
                    <button type="button" class="btn btn-danger lang" key="papovfl_quoteModalCloseButton" data-dismiss="modal">Schließen</button>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>